__pycache__/
*.py[cod]
*$py.class

.env
*.env.*
!*.env.example

.DS_Store
.idea/
.vscode/

venv/
.venv/
env/
.env/
ENV/

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.log
*.pot
*.pyc

# Celery
celerybeat-schedule.*
celerybeat.pid

# Coverage
.coverage
.coverage.*
htmlcov/
.commit_msg.txt